

/*

font-family: 'Oswald', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Montserrat', sans-serif;


*/


body {
    background:#ffffff;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
    margin:0px auto 0px auto;
}

body.home {
    background:#ffffff url(../images/lglogo.png) -20px 150px fixed no-repeat;
}

body.page {

}

a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}



.top-nav-collapse {
    padding: 0;
    background-color: #000;
}

.navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255,255,255,.3);
}


#masthead, header.site-header {
    height:90px;
    background:#000000;
    color:#ffffff;
}

.main-logo {
    position: absolute;
    right:10px;
    top:5px;
    margin:0px;
    padding:0px;
}

header.site-header h1 {
    float:right;
    display:block;
    margin:5px 20px 5px 0px;
    padding:0px;
}

header.site-header h1 a {
    width:200px;
    height:63px;
}

.menu-toggle {
    display:none;
}


section {
    width:640px;
    height:800px;

    text-align:left;
    margin:200px auto 0px 500px;
    padding:40px;

}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size:42px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size:36px;
}

h3 {
    font-family: 'Karla', sans-serif;
    font-size:20px;
    text-transform: uppercase;
}

button, .submit-button {
    font-family: 'Oswald', sans-serif;
    font-size:28px;
    color:#ffffff;
    background:#999999;
    border:none;
    border-radius:5px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.submit-button {
    font-size:20px;
    margin:10px 0px 0px 0px;

}

button:hover .submit-button:hover {
    color:#999999;
    background:#eeeeee;
}

.site-navigation {
 
}


.main-navigation {
    float:right;
    height:50px;
    margin:20px 250px 0px 0px;
    padding:0px;
}


.menu {
    list-style: none;
    height:50px;
    float:right;
    margin:10px 0px 0px 0px;
    padding:0px;
}


.menu ul {
    list-style: none;
    margin:0px;
    padding:0px;
}

.menu li {
    list-style: none;
    float:left;
    height:50px;
    padding:0px;
    margin:0px 5px 0px 0px;
}

.menu li a {
    color:#ffffff;
    font:14px 'Karla', arial, helvetica, sans-serif;
    padding:5px 10px 2px 10px;
    margin:0px;
    text-transform: uppercase;
}

.column {
    text-align: left;
}

@media(min-width:767px) {



}




.form-control {
    margin:5px 0px 10px 0px;
    padding:0px;
}

input[type=text] {

    background:#999999 !important;
    color:#fff !important;

    border-radius: 5px !important;
    padding:10px;
    margin:0px 0px 12px 0px !important;

}

input[type=text]:focus {

    border:1px solid #999999;
}

textarea {
    padding:10px;
    width:300px;
    height:175px;

    background:#999999 !important;
    color:#fff !important;

    border-radius: 5px !important;
}

textarea:focus {
    border:1px solid #999999;
}

.submitsection {
    width:600px;
}


#thankyouresponse {
    display:none;
    width:590px;
    height:50px;
    margin:5px auto 5px auto;
}

#thanks, #contactus {
    float:right;
}

#thanks {
    background: #000000;
}

#sendingmessage {
    float:left;
    width:300px;
    height:50px;
    text-align:right;

}

.errorform {
    border:1px solid #ff9900;
}


*::-webkit-input-placeholder {
    color: #ffffff !important;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #ffffff !important;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #ffffff !important;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #ffffff  !important;
}

input[placeholder] {

    color:#ffffff !important;

}

input::-webkit-input-placeholder {

    color:#ffffff !important;

}

.screen-reader-text {
    display:none;
}

.entry-content {
    width:800px;
    margin:100px auto 0px auto;
}

.page {
    text-align: center;

}

.wpb_text_column {

}

.wpb_wrapper {
    padding:3px;
    margin:0px 5px 10px 0px;
}

.wpb_content_element {
    text-align: left;
    padding:5px;
    margin:0px;

}


span.glyphicon {
    font-size: 2em;
}

.aligncenter {
    margin:0px auto 0px auto;
    text-align: center;
}

.services {
    padding:15px;
    margin:40px 20px 20px 0px;
    border-radius: 50%;
    border:3px solid #000000;
    float:left;
}

.servicedetail {
    float:left;
    margin:0px 0px 0px 5px;
    margin-bottom: 50px !important;
    padding:3px;
    width:200px;
}

@media(min-width:320px) and (max-width:766px) {

    body, body.home {
        background:#ffffff;
    }

    section {
        width:100%;

        text-align:left;
        margin:100px auto 0px auto;
        padding:40px;

    }

    .entry-content {
        width:100%;
        margin:50px auto 50px auto;
    }

    .wpb_content_element {
        text-align: left;
        padding:10px;
        margin:5px;
    }

}


@media(min-width:767px) and (max-width:1000px){

    body, body.home {
        background:#ffffff;
    }

    section {
        width:100%;

        text-align:left;
        margin:100px auto 0px auto;
        padding:40px;

    }


    .entry-content {
        width:700px;
    }

}

@media(min-width:1000px) {

    body {
        background:#ffffff;

    }

    body.home {
        background:url(../images/lglogo.png) -20px 150px fixed no-repeat;
    }

    section {
        width:640px;
        height:800px;

        text-align:left;
        margin:200px auto 0px 500px;
        padding:40px;

    }


    .entry-content {
        width:800px;
    }
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


#page {

    margin:0px 0px 0px 0px;
    padding:0px;

}

#page header {
    margin:55px 0px 0px 0px;
    padding:100px auto 20px auto;
    height:200px;
    background:#656668;
}

#page header h1 {
    padding:70px 0px 50px 0px;
}   



/* 
    Visual composer layout classes
*/



.wpb_row {
    margin:20px auto 20px auto;
}


.vc_row_fluid {

}


.site-footer {
    background:#000000;
    color:#ffffff;
    height:250px;
    padding:0px;
    margin:0px;
}

.site-info {
    width:960px;
    margin:0px auto 0px auto;
    padding:0px;
}

.getintouch {
    float:left;
    margin:20px 20px 20px 0px;
    padding:0px;
}

.boilerplate {
    float:right;
    margin:20px 0px 20px 20px;
    padding:0px;   
}

.icon-small {
    font-size:.8em !important;
}

